.main-contact-container-general {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  border-radius: 1.25rem;
  box-shadow: 0 0.125rem 0.5rem 0 #00000040;
  background: var(--Secondary-Color, #fafafa);
  margin: 0 auto;
  padding: 3rem;
}
.main-contact-container-general-name {
  font-weight: 500;
  font-style: Medium;
  font-size: 2.5rem;
  line-height: 2.0625rem;
  letter-spacing: 0;
  vertical-align: middle;
}
.main-contact-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.main-contact-container-left-part {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.main-contact-container-left-part h3,
.main-contact-container-right-part h3 {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}
.main-contact-container-left-part p,
.main-contact-container-right-part p {
  font-weight: 500;
  font-style: Medium;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0;
  color: #0f172a80;
}
.main-contact-container-primary-info {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.main-contact-container-details {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.main-contact-container-detail {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.main-contact-container-detail-input,
.main-contact-container-detail-textarea {
  padding: 0.75rem 0.9375rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}
.main-contact-container-detail-input:focus,
.main-contact-container-detail-textarea:focus {
  outline: none;
  border-color: #007bff;
}

.main-contact-container-detail-textarea {
  min-height: 7.5rem;
  resize: vertical;
}
.main-contact-container button {
  padding: 0.75rem;
  background: var(--Primary-Color, #110d57);
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main-contact-container-right-part {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.contact-social-network {
  display: flex;
  gap: 0.625rem;
}
.contact-icon {
  background-color: #110d57;
  color: white !important;
  border-radius: 50%;
  padding: 0.3125rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-map-detail {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.map-wrapper {
  max-width: 37.5rem;
  border-radius: 0.5rem;
}
.map-frame {
  width: 100%;
  border-radius: 0.625rem;
  height: 23.75rem;
}
@media (min-width: 48em) and (max-width: 64em) {
  .main-contact-container-general {
    gap: 1.25rem;
    padding: 1.25rem;
  }
  .main-contact-container-general-name {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .main-contact-container {
    align-items: start;
  }
  .main-contact-container-left-part {
    padding: 0.625rem;
    gap: 0.625rem;
  }
  .main-contact-container-detail label {
    font-size: 0.625rem;
    font-weight: bold;
  }
  .main-contact-container-detail-input,
  .main-contact-container-detail-textarea {
    padding: 0.375rem 0.625rem;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
  .main-contact-container button {
    padding: 0.5rem;
  }
  .main-contact-container-right-part {
    gap: 1.5625rem;
    justify-content: center;
  }
  .map-frame {
    border-radius: 0.5rem;
    height: 18.75rem;
  }
}
@media (max-width: 48em) {
  .main-contact-container-general {
    background-color: transparent;
    border: none;
    box-shadow: none;
    gap: 1.25rem;
    padding: 1.25rem;
  }
  .main-contact-container-general-name {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .main-contact-container {
    flex-direction: column;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .main-contact-container-left-part {
    box-shadow: 0 0.045rem 0.18rem 0 #00000040;
    background: var(--Secondary-Color, #fafafa);
    width: 100%;
    max-height: 34.375rem;
    height: auto;
    border-radius: 0.625rem;
    padding: 0.625rem;
    gap: 0.625rem;
    margin: 0 auto;
  }
  .main-contact-container-primary-info {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .main-contact-container-detail {
    width: 100%;
    gap: 0.3125rem;
  }
  .main-contact-container-detail label {
    font-size: 0.625rem;
    font-weight: bold;
  }
  .main-contact-container-detail-input,
  .main-contact-container-detail-textarea {
    padding: 0.375rem 0.625rem;
    font-size: 0.625rem;
    line-height: 1.25rem;
  }
  .main-contact-container button {
    padding: 0.5rem;
  }
  .main-contact-container-right-part {
    gap: 0.625rem;
    justify-content: center;
  }
  .map-wrapper {
    max-width: 100%;
  }
  .map-frame {
    border-radius: 0.5rem;
    max-height: 43.75rem;
    height: auto;
    width: 100% !important;
  }
}
