.presentation-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 6.25rem;
  background: linear-gradient(225deg, rgb(10, 15, 71) 50%, rgb(52, 1, 68));
  padding: 2.5rem 5vw;
}
.presentation-description {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 1.875rem;
  flex: 1;
}
.presentation-description h3 {
  font-weight: 600;
  font-size: 2.75rem;
  line-height: 3.6rem;
  letter-spacing: 0;
  vertical-align: middle;
}
.presentation-description p {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.5625rem;
  line-height: 2.5rem;
  letter-spacing: 0;
  vertical-align: middle;
}
.presentation-btn {
  padding: 0.625rem 1.25rem;
  opacity: 1;
  border-radius: 0.5rem;
  gap: 0.625rem;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 1rem;
  max-width: 37.5rem;
}
.presentation-image {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 1.25rem;
  align-items: stretch;
}
.presentation-img {
  width: 100%;
  max-height: 28.125rem;
  height: auto;
  border-radius: 0.625rem;
  object-fit: cover;
}
.presentation-img-right {
  width: 100%;
  border-radius: 0.3125rem;
  max-height: 13.125rem;
  height: auto;
}
.presentation-image-left,
.presentation-image-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.presentation-image-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}

.presentation-image-right img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 0.625rem;
}
@media (min-width: 48em) and (max-width: 64em) {
  .presentation-container {
    gap: 2.5rem;
    padding: 1.25rem 2.5vw;
  }

  .presentation-description {
    gap: 1.25rem;
  }

  .presentation-description h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .presentation-description p {
    font-size: 1.5625rem;
    line-height: 1.75rem;
  }

  .presentation-image {
    gap: 0.9375rem;
  }

  .presentatin-image-left img {
    object-fit: none;
  }
}

@media (max-width: 48em) {
  .presentation-container {
    gap: 0.9375rem;
    align-items: stretch;
    justify-content: space-between;
    padding: 0.625rem 1.25vw;
  }

  .presentation-description {
    gap: 0.625rem;
  }

  .presentation-description h3 {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .presentation-description p {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  .presentation-image {
    gap: 0.625rem;
  }
}
