.footer-general-container {
  display: flex;
  margin: 1.25rem;
  padding: 1.25rem 2.5vw;
  border-top: 0.125rem solid #0000001a;
  border-bottom: 0.125rem solid #0000001a;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6.25rem;
  width: 100%;
}
.footer-left-part {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}
.footer-img-logo {
  width: 6.25rem;
  height: 6.25rem;
}
.footer-logo-container h2 {
  font-weight: 600;
  font-size: 1rem;
  color: #110d57;
  line-height: 1.5rem;
  letter-spacing: 0;
  max-width: 9.375rem;
}
.footer-social-network {
  display: flex;
  gap: 1.25rem;
}
.footer-icon {
  border: 1px solid #110d57;
  border-radius: 50%;
  padding: 0.3125rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-right-part {
  display: flex;
  justify-content: center;
  gap: 2.8125rem;
}
.footer-links-group {
  color: #141212;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.footer-links-list {
  list-style: none;
}
.footer-link {
  font-weight: 500;
  font-style: Medium;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  vertical-align: middle;
}
@media (max-width: 48em) {
  .footer-container {
    flex-direction: column;
    align-items: stretch;
  }
  .footer-left-part {
    border-bottom: 0.0625rem solid #0000001a;
    width: 100%;
    padding-bottom: 0.625rem;
    margin: 0;
    box-sizing: border-box;
  }
  .footer-container {
    gap: 1.25rem;
  }
  .footer-logo-container {
    justify-content: start;
  }
  .footer-logo-container h2 {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1;
  }
  .footer-img-logo {
    width: 2rem;
    height: 2rem;
  }
  .footer-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  .footer-links-group {
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
  .footer-link {
    font-size: 0.625rem;
    line-height: 1.2rem;
    padding: 0.125rem;
  }
}
