.reset-general-container {
  background-color: #110d57;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reset-general-container-logo-design {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.reset-general-container-logo-design img {
  width: 140px;
  height: 140px;
}
.reset-general-container-logo-design h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.reset-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 414px;
  max-height: 490px;
  height: auto;
  border-radius: 20px;
  background: #ffffff;
  padding: 30px 60px;
  margin: 0 auto;
}
.reset-container h1 {
  color: var(--color-azure-10, #021131);
  font-size: 30px;
  line-height: line height/36_4;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}
.reset-container p {
  color: #1d1d1d;
  text-align: center;
  font-size: 15px;
}
.reset-container-input-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.reset-container-input-detail {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: #ccc 0.3s ease;
}
.reset-container-input-detail:focus {
  outline: none;
  border-color: #110d57;
}
.reset-container button {
  padding: 12px;
  background: var(--Primary-Color, #110d57);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}
.reset-container-login-span {
  color: #110d57;
  margin: 0 auto;
  font-weight: bold;
}
