.partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1.875rem;
  background: var(--Primary-Color, #110d57);
}
.partners-container-title {
  text-align: center;
  font-weight: 700;
  font-style: Bold;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #fafafa;
}
.partners-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.75rem;
}
.partners-image {
  border-radius: 1.25rem;
  padding: 0.625rem;
  background-color: rgb(203, 202, 202);
}
.partners-img {
  max-height: 10rem;
  max-width: 8.125rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}
@media (min-width: 48em) and (max-width: 64em) {
  .partners-container {
    gap: 1.25rem;
  }
  .partners-container-title {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  .partners-images {
    gap: 2.5rem;
  }
  .partners-image {
    border-radius: 1.25rem;
    padding: 0.625rem;
    width: 3.75rem;
    background-color: rgb(203, 202, 202);
    max-height: 5rem;
    height: auto;
    max-width: 6.25rem;
    width: 100%;
    border-radius: 0.625rem;
  }
}
@media (max-width: 48em) {
  .partners-container {
    padding: 0.625rem;
    gap: 1.25rem;
  }
  .partners-container-title {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  .partners-images {
    gap: 1.25rem;
  }
  .partners-image {
    max-height: 5rem;
    width: 2.5rem;
    border-radius: 0.625rem;
  }
  .partners-img {
    object-fit: cover;
  }
}
