.contact-container-intro {
  padding: 2.5rem 5vw;
  margin-top: 3.125rem;
}
.contact-container {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  padding: 1.875rem 2.5vw;
  background: var(--Primary-Color, #110d57);
  color: #ffffff;
}
.contact-container-left-part {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  width: 40%;
}
.contact-container-part-label {
  margin-bottom: 0.9375rem;
  display: inline-block;
}
.contact-part-input {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  box-sizing: border-box;
  transition: border 0.3s, box-shadow 0.3s;
}
.contact-part-textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  box-sizing: border-box;
  transition: border 0.3s, box-shadow 0.3s;
  background-color: #f9f9f9;
  min-height: 7.5rem;
  resize: vertical;
}

.contact-part-input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 0 0.1875rem rgba(74, 144, 226, 0.3);
}

.contact-btn {
  border-radius: 0.5rem;
  padding: 0.75rem;
  background: none;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.contact-btn:hover {
  box-shadow: 0 0.375rem 1.125rem rgba(255, 255, 255, 0.3);
  transform: translateY(-0.125rem);
}
.contact-container-right-part {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  width: 60%;
  padding: 2.5rem 1.25rem;
}
.contact-container-right-part h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.5rem;
  letter-spacing: 0;
  text-align: center;
}
.contact-container-right-part p {
  font-weight: 500;
  font-style: Medium;
  font-size: 1.5rem;
  letter-spacing: 0;
  text-align: center;
}
@media (min-width: 48em) and (max-width: 64em) {
  .contact-container-intro {
    padding: 1.25rem 2.5vw;
  }
  .contact-part-textarea {
    min-height: 5.625rem;
  }
  .contact-container-right-part h2 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .contact-container-right-part p {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}
@media (max-width: 48em) {
  .contact-container-intro {
    padding: 1.25rem 2.5vw;
  }
  .contact-container {
    flex-direction: column-reverse;
    gap: 0.625rem;
  }
  .contact-container-left-part {
    width: 100%;
  }
  .contact-part-input {
    padding: 0.375rem 0.5rem;
  }
  .contact-part-textarea {
    min-height: 4.375rem;
  }
  .contact-container-right-part {
    width: 100%;
    gap: 1.25rem;
    padding: 1.25rem;
  }
  .contact-container-right-part h2 {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .contact-container-right-part p {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}
