.intro-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 5vw;
  background: linear-gradient(225deg, rgb(10, 15, 71) 50%, rgb(52, 1, 68));
  color: #ffffff;
}

.intro-section-description {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.intro-section-image-mobile {
  display: none;
}
.intro-section-description button {
  padding: 10px 20px;
  border-radius: 8px;
  gap: 10px;
  background-color: #ffffff;
  color: black;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 16px;
  max-width: 600px;
}
/* Mobil görünüş */
@media (max-width: 48em) {
  .intro-section-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .title-wrapper {
    display: flex;
    flex-direction: row; /* h1 və şəkil yan-yana */
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .title-wrapper h1 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .intro-section-image {
    display: none;
  }
  .intro-section-image-mobile {
    display: block;
  }
  .intro-section-img {
    height: 100px;
  }
  .intro-section-description p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .intro-section-description button {
    width: 100%;
    padding: 0.75rem;
  }
  .intro-section-image-desktop {
    display: none;
  }
}
